@font-face {
  font-family: 'yhsshui';
  src:
    url('fonts/yhsshui.ttf?uo183w') format('truetype'),
    url('fonts/yhsshui.woff?uo183w') format('woff'),
    url('fonts/yhsshui.svg?uo183w#yhsshui') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="yhsshui-"], [class*=" yhsshui-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'yhsshui' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yhsshui-blog:before {
  content: "\ea30";
}
.yhsshui-shopping-bag2:before {
  content: "\ea31";
}
.yhsshui-croissant:before {
  content: "\ea32";
}
.yhsshui-bread22:before {
  content: "\ea2c";
}
.yhsshui-bread:before {
  content: "\ea2d";
}
.yhsshui-coffee:before {
  content: "\ea2e";
}
.yhsshui-croissant2:before {
  content: "\ea2f";
}
.yhsshui-quote-2:before {
  content: "\ea2b";
}
.yhsshui-tik-tok:before {
  content: "\ea2a";
}
.yhsshui-hourglass1:before {
  content: "\ea26";
}
.yhsshui-mail-big:before {
  content: "\ea27";
}
.yhsshui-map-big:before {
  content: "\ea28";
}
.yhsshui-circle-bg:before {
  content: "\ea29";
}
.yhsshui-chinese-lantern:before {
  content: "\ea25";
}
.yhsshui-service:before {
  content: "\ea23";
}
.yhsshui-checklist:before {
  content: "\ea24";
}
.yhsshui-noun_Time:before {
  content: "\ea20";
}
.yhsshui-noun_Address:before {
  content: "\ea21";
}
.yhsshui-noun_contact:before {
  content: "\ea22";
}
.yhsshui-arrow-down-long:before {
  content: "\ea1f";
}
.yhsshui-bag:before {
  content: "\ea1e";
}
.yhsshui-Vector-Smart-Object3:before {
  content: "\ea1c";
}
.yhsshui-Vector-Smart-Object4:before {
  content: "\ea1d";
}
.yhsshui-Vector-Smart-Object2:before {
  content: "\ea1b";
}
.yhsshui-cleaver:before {
  content: "\ea19";
}
.yhsshui-checkmark:before {
  content: "\ea1a";
}
.yhsshui-right-arrow:before {
  content: "\ea17";
}
.yhsshui-left-arrow:before {
  content: "\ea18";
}
.yhsshui-calendar4:before {
  content: "\ea16";
}
.yhsshui-meat2:before {
  content: "\ea12";
}
.yhsshui-pantone:before {
  content: "\ea13";
}
.yhsshui-smart-tv:before {
  content: "\ea14";
}
.yhsshui-flower1:before {
  content: "\ea15";
}
.yhsshui-knife:before {
  content: "\ea11";
}
.yhsshui-meat1:before {
  content: "\ea10";
}
.yhsshui-shrimp2:before {
  content: "\ea0f";
}
.yhsshui-party:before {
  content: "\ea0e";
}
.yhsshui-tripadvisor:before {
  content: "\ea0d";
}
.yhsshui-shopping-cart1:before {
  content: "\ea0c";
}
.yhsshui-dots:before {
  content: "\ea0a";
}
.yhsshui-menu2:before {
  content: "\ea0b";
}
.yhsshui-double-quotes:before {
  content: "\ea09";
}
.yhsshui-nigiri:before {
  content: "\ea08";
}
.yhsshui-down-arrow-long:before {
  content: "\ea02";
}
.yhsshui-arrow-draw:before {
  content: "\ea07";
}
.yhsshui-search2:before {
  content: "\e9fa";
}
.yhsshui-sushi:before {
  content: "\e9fb";
}
.yhsshui-sushi-roll:before {
  content: "\e9fc";
}
.yhsshui-shrimp:before {
  content: "\e9fd";
}
.yhsshui-sashimi-2:before {
  content: "\e9fe";
}
.yhsshui-noodles:before {
  content: "\e9ff";
}
.yhsshui-flower:before {
  content: "\ea00";
}
.yhsshui-menu1:before {
  content: "\ea01";
}
.yhsshui-fan:before {
  content: "\ea03";
}
.yhsshui-chopsticks:before {
  content: "\ea04";
}
.yhsshui-chopstick:before {
  content: "\ea05";
}
.yhsshui-sashimi:before {
  content: "\ea06";
}
.yhsshui-paper-plane:before {
  content: "\e9f9";
}
.yhsshui-dot:before {
  content: "\e9f8";
}
.yhsshui-heart1:before {
  content: "\e90c";
}
.yhsshui-instagram:before {
  content: "\e997";
}
.yhsshui-Left-Quote:before {
  content: "\e9f7";
}
.yhsshui-flame:before {
  content: "\e9f6";
}
.yhsshui-quote1:before {
  content: "\e9f5";
}
.yhsshui-package-box:before {
  content: "\e9f3";
}
.yhsshui-snowflake:before {
  content: "\e9f4";
}
.yhsshui-arrow-down-solid:before {
  content: "\e9f2";
}
.yhsshui-collaboration1:before {
  content: "\e9ee";
}
.yhsshui-mountains:before {
  content: "\e9ef";
}
.yhsshui-verified-user:before {
  content: "\e9f0";
}
.yhsshui-laurel-wreath:before {
  content: "\e9f1";
}
.yhsshui-premium-qualityy:before {
  content: "\e9ed";
}
.yhsshui-paper-plane-solid:before {
  content: "\e9ec";
}
.yhsshui-ice-cream:before {
  content: "\e9eb";
}
.yhsshui-cart-plus:before {
  content: "\e9ea";
}
.yhsshui-coins:before {
  content: "\e9e9";
}
.yhsshui-calendar3:before {
  content: "\e9e8";
}
.yhsshui-telegram-plane:before {
  content: "\e9e7";
}
.yhsshui-coffee-bean:before {
  content: "\e9e6";
}
.yhsshui-pizza-slice:before {
  content: "\e9e5";
}
.yhsshui-healthcare:before {
  content: "\e9e1";
}
.yhsshui-help:before {
  content: "\e9e2";
}
.yhsshui-piggy-bank:before {
  content: "\e9e3";
}
.yhsshui-save-money:before {
  content: "\e9e4";
}
.yhsshui-collaboration:before {
  content: "\e9e0";
}
.yhsshui-iphone:before {
  content: "\e9de";
}
.yhsshui-alarm-clock:before {
  content: "\e9df";
}
.yhsshui-send2:before {
  content: "\e9dd";
}
.yhsshui-bell:before {
  content: "\e9dc";
}
.yhsshui-calendar-days:before {
  content: "\e9db";
}
.yhsshui-tag1:before {
  content: "\e9d9";
}
.yhsshui-calendar-minus:before {
  content: "\e9da";
}
.yhsshui-serving-dish:before {
  content: "\e9d5";
}
.yhsshui-fork:before {
  content: "\e9d6";
}
.yhsshui-wedding-rings:before {
  content: "\e9d7";
}
.yhsshui-wine-bottle:before {
  content: "\e9d8";
}
.yhsshui-cutlery:before {
  content: "\e9d4";
}
.yhsshui-dish:before {
  content: "\e9d3";
}
.yhsshui-meat:before {
  content: "\e9cf";
}
.yhsshui-goblet:before {
  content: "\e9d0";
}
.yhsshui-chef-hat1:before {
  content: "\e9d1";
}
.yhsshui-trumpet:before {
  content: "\e9d2";
}
.yhsshui-phone-rotary:before {
  content: "\e9ce";
}
.yhsshui-mailbox:before {
  content: "\e9cd";
}
.yhsshui-eating:before {
  content: "\e9cc";
}
.yhsshui-thin-arrow-left:before {
  content: "\e9ca";
}
.yhsshui-thin-arrow-right:before {
  content: "\e9cb";
}
.yhsshui-chef-hat:before {
  content: "\e9c9";
}
.yhsshui-shopping-bag-2:before {
  content: "\e9c8";
}
.yhsshui-gift-card:before {
  content: "\e9c7";
}
.yhsshui-shopping-bag1:before {
  content: "\e9c6";
}
.yhsshui-instagram-fill:before {
  content: "\e9c5";
}
.yhsshui-tag:before {
  content: "\e9c4";
}
.yhsshui-chef:before {
  content: "\e9c3";
}
.yhsshui-cake:before {
  content: "\e9c1";
}
.yhsshui-door:before {
  content: "\e9c2";
}
.yhsshui-ring:before {
  content: "\e9c0";
}
.yhsshui-hourglass:before {
  content: "\e9be";
}
.yhsshui-phone-i:before {
  content: "\e9bf";
}
.yhsshui-instagram-round:before {
  content: "\e9aa";
}
.yhsshui-down-arrow:before {
  content: "\e9a9";
}
.yhsshui-send:before {
  content: "\e996";
}
.yhsshui-play-2:before {
  content: "\e975";
}
.yhsshui-link:before {
  content: "\e911";
}
.yhsshui-volume:before {
  content: "\e90f";
}
.yhsshui-menu-long:before {
  content: "\e90e";
}
.yhsshui-utensils:before {
  content: "\e90d";
}
.yhsshui-grid:before {
  content: "\e9bb";
}
.yhsshui-list:before {
  content: "\e9bc";
}
.yhsshui-chart-bar-regular:before {
  content: "\e995";
}
.yhsshui-th:before {
  content: "\e992";
}
.yhsshui-list-ul:before {
  content: "\e993";
}
.yhsshui-border-all:before {
  content: "\e994";
}
.yhsshui-auction:before {
  content: "\e98d";
}
.yhsshui-trophy-alt:before {
  content: "\e98e";
}
.yhsshui-diploma:before {
  content: "\e98f";
}
.yhsshui-briefcase-medical:before {
  content: "\e990";
}
.yhsshui-users:before {
  content: "\e991";
}
.yhsshui-window-close-regular:before {
  content: "\e982";
}
.yhsshui-envelope-open-regular:before {
  content: "\e983";
}
.yhsshui-user-alt:before {
  content: "\e984";
}
.yhsshui-heart-regular:before {
  content: "\e985";
}
.yhsshui-dribbble-brands:before {
  content: "\e986";
}
.yhsshui-youtube-brands:before {
  content: "\e987";
}
.yhsshui-behance-brands:before {
  content: "\e988";
}
.yhsshui-calendar-alt-regular:before {
  content: "\e989";
}
.yhsshui-clock-regular:before {
  content: "\e98a";
}
.yhsshui-marker-alt:before {
  content: "\e98b";
}
.yhsshui-envelope-regular:before {
  content: "\e98c";
}
.yhsshui-phone-alt1:before {
  content: "\e97f";
}
.yhsshui-angle-down-solid:before {
  content: "\e980";
}
.yhsshui-phone1:before {
  content: "\e976";
}
.yhsshui-email1:before {
  content: "\e977";
}
.yhsshui-search-400:before {
  content: "\e978";
}
.yhsshui-search-solid:before {
  content: "\e979";
}
.yhsshui-share-alt:before {
  content: "\e97a";
}
.yhsshui-comments-regular:before {
  content: "\e97b";
}
.yhsshui-arrow-right-solid:before {
  content: "\e97c";
}
.yhsshui-heart:before {
  content: "\e970";
}
.yhsshui-comment-alt1:before {
  content: "\e968";
}
.yhsshui-comment-dots1:before {
  content: "\e969";
}
.yhsshui-comment1:before {
  content: "\e96a";
}
.yhsshui-comments1:before {
  content: "\e96b";
}
.yhsshui-comment-alt:before {
  content: "\e96c";
}
.yhsshui-comment-dots:before {
  content: "\e96d";
}
.yhsshui-comment:before {
  content: "\e96e";
}
.yhsshui-comments:before {
  content: "\e96f";
}
.yhsshui-user1:before {
  content: "\e966";
}
.yhsshui-user:before {
  content: "\e967";
}
.yhsshui-folder1:before {
  content: "\e962";
}
.yhsshui-folder-open1:before {
  content: "\e963";
}
.yhsshui-folder-open:before {
  content: "\e964";
}
.yhsshui-folder:before {
  content: "\e965";
}
.yhsshui-arrow-circle-alt-left:before {
  content: "\e960";
}
.yhsshui-plus-circle-01:before {
  content: "\e961";
}
.yhsshui-alert:before {
  content: "\e901";
}
.yhsshui-arrow-alt-circle-down:before {
  content: "\e902";
}
.yhsshui-arrow-alt-circle-left:before {
  content: "\e903";
}
.yhsshui-arrow-alt-circle-right:before {
  content: "\e904";
}
.yhsshui-arrow-alt-circle-up:before {
  content: "\e905";
}
.yhsshui-arrow-circle-down:before {
  content: "\e906";
}
.yhsshui-arrow-circle-left1:before {
  content: "\e907";
}
.yhsshui-arrow-circle-right1:before {
  content: "\e908";
}
.yhsshui-arrow-circle-up:before {
  content: "\e909";
}
.yhsshui-arrow-circle-up-large:before {
  content: "\e95c";
}
.yhsshui-arrow-circle-down-large:before {
  content: "\e95d";
}
.yhsshui-arrow-circle-left-large:before {
  content: "\e95e";
}
.yhsshui-arrow-circle-right-large:before {
  content: "\e95f";
}
.yhsshui-arrow-down:before {
  content: "\e90a";
}
.yhsshui-arrow-up:before {
  content: "\e90b";
}
.yhsshui-long-arrow-up:before {
  content: "\e912";
}
.yhsshui-long-arrow-down:before {
  content: "\e913";
}
.yhsshui-long-arrow-left:before {
  content: "\e914";
}
.yhsshui-arrow-prev:before {
  content: "\e959";
}
.yhsshui-arrow-next:before {
  content: "\e95a";
}
.yhsshui-check1:before {
  content: "\e915";
}
.yhsshui-long-arrow-right:before {
  content: "\e916";
}
.yhsshui-check-circle:before {
  content: "\e917";
}
.yhsshui-check-alt-circle:before {
  content: "\e918";
}
.yhsshui-chevron-circle-down:before {
  content: "\e919";
}
.yhsshui-chevron-circle-left:before {
  content: "\e91a";
}
.yhsshui-chevron-circle-right:before {
  content: "\e91b";
}
.yhsshui-chevron-circle-up:before {
  content: "\e91c";
}
.yhsshui-chevron-down1:before {
  content: "\e91d";
}
.yhsshui-chevron-left:before {
  content: "\e91e";
}
.yhsshui-chevron-right:before {
  content: "\e91f";
}
.yhsshui-chevron-up:before {
  content: "\e920";
}
.yhsshui-clock:before {
  content: "\e921";
}
.yhsshui-download:before {
  content: "\e922";
}
.yhsshui-email:before {
  content: "\e923";
}
.yhsshui-facebook-circle-alt:before {
  content: "\e924";
}
.yhsshui-facebook-f:before {
  content: "\e925";
}
.yhsshui-facebook-messenger:before {
  content: "\e926";
}
.yhsshui-facebook-square:before {
  content: "\e927";
}
.yhsshui-facebook:before {
  content: "\e928";
}
.yhsshui-twitter-circle:before {
  content: "\e929";
}
.yhsshui-twitter-square:before {
  content: "\e92a";
}
.yhsshui-twitter:before {
  content: "\e92b";
}
.yhsshui-instagram-square:before {
  content: "\e92c";
}
.yhsshui-instagram1:before {
  content: "\e92d";
}
.yhsshui-linkedin-circle:before {
  content: "\e92e";
}
.yhsshui-linkedin-in:before {
  content: "\e92f";
}
.yhsshui-linkedin:before {
  content: "\e930";
}
.yhsshui-pinterest-p:before {
  content: "\e931";
}
.yhsshui-pinterest-square:before {
  content: "\e932";
}
.yhsshui-youtube:before {
  content: "\e933";
}
.yhsshui-map-marker:before {
  content: "\e934";
}
.yhsshui-pinterest:before {
  content: "\e935";
}
.yhsshui-phone-alt:before {
  content: "\e936";
}
.yhsshui-phone:before {
  content: "\e937";
}
.yhsshui-play-circle:before {
  content: "\e938";
}
.yhsshui-play:before {
  content: "\e939";
}
.yhsshui-plus:before {
  content: "\e93a";
}
.yhsshui-plus-circle:before {
  content: "\e93b";
}
.yhsshui-minus:before {
  content: "\e900";
}
.yhsshui-minus-circle:before {
  content: "\e93c";
}
.yhsshui-remove-circle:before {
  content: "\e93d";
}
.yhsshui-remove1:before {
  content: "\e93e";
}
.yhsshui-search:before {
  content: "\e93f";
}
.yhsshui-shadow:before {
  content: "\e940";
}
.yhsshui-shopping-bag:before {
  content: "\e941";
}
.yhsshui-shopping-basket:before {
  content: "\e942";
}
.yhsshui-shopping-cart-arrow-down:before {
  content: "\e943";
}
.yhsshui-shopping-cart-plus:before {
  content: "\e944";
}
.yhsshui-shopping-cart:before {
  content: "\e945";
}
.yhsshui-sign-in-alt:before {
  content: "\e946";
}
.yhsshui-sign-out-alt:before {
  content: "\e947";
}
.yhsshui-star-alt:before {
  content: "\e948";
}
.yhsshui-star1:before {
  content: "\e949";
}
.yhsshui-pdf:before {
  content: "\e94a";
}
.yhsshui-thumbtack:before {
  content: "\e94b";
}
.yhsshui-google-plus-g:before {
  content: "\e94c";
}
.yhsshui-google-plus-square:before {
  content: "\e94d";
}
.yhsshui-google-plus:before {
  content: "\e94e";
}
.yhsshui-google:before {
  content: "\e94f";
}
.yhsshui-rss-square:before {
  content: "\e950";
}
.yhsshui-rss:before {
  content: "\e951";
}
.yhsshui-skype:before {
  content: "\e952";
}
.yhsshui-tumblr-square:before {
  content: "\e953";
}
.yhsshui-tumblr:before {
  content: "\e954";
}
.yhsshui-vimeo-square:before {
  content: "\e955";
}
.yhsshui-vimeo-v:before {
  content: "\e956";
}
.yhsshui-vimeo:before {
  content: "\e957";
}
.yhsshui-yelp:before {
  content: "\e958";
}
.yhsshui-spinner:before {
  content: "\e95b";
}
.yhsshui-quote:before {
  content: "\e9bd";
}
.yhsshui-cloud-upload:before {
  content: "\e998";
}
.yhsshui-star:before {
  content: "\e999";
}
.yhsshui-close:before {
  content: "\e99a";
}
.yhsshui-remove:before {
  content: "\e99a";
}
.yhsshui-times:before {
  content: "\e99a";
}
.yhsshui-check:before {
  content: "\e99b";
}
.yhsshui-arrow-circle-right:before {
  content: "\e99c";
}
.yhsshui-arrow-circle-left:before {
  content: "\e99d";
}
.yhsshui-angle-down:before {
  content: "\e99e";
}
.yhsshui-angle-up:before {
  content: "\e99f";
}
.yhsshui-angle-right:before {
  content: "\e9a0";
}
.yhsshui-angle-left:before {
  content: "\e9a1";
}
.yhsshui-angle-double-down:before {
  content: "\e9a2";
}
.yhsshui-angle-double-up:before {
  content: "\e9a3";
}
.yhsshui-angle-double-right:before {
  content: "\e9a4";
}
.yhsshui-angle-double-left:before {
  content: "\e9a5";
}
.yhsshui-sort-desc:before {
  content: "\e9a6";
}
.yhsshui-sort-down:before {
  content: "\e9a6";
}
.yhsshui-caret-down:before {
  content: "\e9a7";
}
.yhsshui-chevron-down:before {
  content: "\e9a8";
}
.yhsshui-hours-support:before {
  content: "\e9b7";
}
.yhsshui-address:before {
  content: "\e9b8";
}
.yhsshui-email2:before {
  content: "\e9b9";
}
.yhsshui-right-arrow1:before {
  content: "\e9ab";
}
.yhsshui-right-arrow-x:before {
  content: "\e9ac";
}
.yhsshui-close1:before {
  content: "\e9ad";
}
.yhsshui-checked:before {
  content: "\e9ae";
}
.yhsshui-phone-call:before {
  content: "\e9af";
}
.yhsshui-world:before {
  content: "\e9b0";
}
.yhsshui-menu:before {
  content: "\e9b1";
}
.yhsshui-newletter:before {
  content: "\e9b2";
}
.yhsshui-clock1:before {
  content: "\e9b3";
}
.yhsshui-label:before {
  content: "\e9b4";
}
.yhsshui-user11:before {
  content: "\e9b5";
}
.yhsshui-calendar1:before {
  content: "\e9b6";
}
.yhsshui-calendar2:before {
  content: "\e9ba";
}
.yhsshui-clock-o:before {
  content: "\e981";
}
.yhsshui-chevron-down11:before {
  content: "\e97e";
}
.yhsshui-search1:before {
  content: "\e97d";
}
.yhsshui-calendar:before {
  content: "\e974";
}
.yhsshui-angle-down1:before {
  content: "\e973";
}
.yhsshui-angle-up1:before {
  content: "\e972";
}
.yhsshui-angle-left1:before {
  content: "\e910";
}
.yhsshui-angle-right1:before {
  content: "\e971";
}
