 
.comments-area .no-comments{
    margin-top: 20px;
}
.comments-area {
    margin-top: 73px;
    .comment-list-wrap{
        margin-bottom: 72px;
        padding-bottom: 37px;
        border-bottom: 1px solid $divider_color;
    }
}

.yhsshu-content-main.layout-3 {
    &.no-sidebar {
        .comments-area {
            max-width: 770px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.yhsshu-content-main.layout-2 .comments-area {
    .comment-list-wrap {
        border-bottom: 1px solid $divider_color;
    }
}

.yhsshu-content-main.layout-4 {
    .comments-area {
        margin: 62px auto 0;
        .comment-list-wrap {
            margin-bottom: 40px;
        }
    }
    &.no-sidebar {
        .comments-area {
            max-width: 770px;
        }
    }
}

.yhsshu-content-main.layout-5 {
    .comments-area {
        margin: 69px auto 0;
        .comment-list-wrap {
            margin-bottom: 69px;
        }
    }
    &.no-sidebar {
        .comments-area {
            max-width: 770px;
        }
    }
}
 
.comments-title, .comment-reply-title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: $heading_color;
    position: relative;
    @media (max-width: $sm_max) {
		font-size: 25px;
	}
}

.yhsshu-content-main.layout-2 .comments-title,
.yhsshu-content-main.layout-2 .comment-reply-title {
    letter-spacing: 0.05em;
}

.yhsshu-content-main.layout-3 .comments-title,
.yhsshu-content-main.layout-3 .comment-reply-title {
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}

.yhsshu-content-main.layout-4 .comments-title,
.yhsshu-content-main.layout-4 .comment-reply-title {
    font-size: 40px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.03em;
    color: $heading_color;
    @media (max-width: $sm_max) {
        font-size: 30px;
        margin-bottom: 15px;
    }
}

.comments-title {
    margin: 0 0 36px 0;
}

.comment-reply-title {
    margin: 0 0 28px 0;
}

.commentlist{
    list-style: none;
    padding: 0;
    margin: 0;
    .comment{
        padding-top: 39px;
        margin-top: 31px;
        border-top: 1px solid $divider_color;
    }
    > .comment,
    > .review{
        &:first-child{
            margin-top: 0;
            padding-top: 0;
            border-top: 0;
        }
        &:not(:last-child){
            > .children{
                margin-bottom: 0;
            }
        }
    }
    .comment-avatar{
        img{
            border: 2px solid $primary_color;
            @include border-radius(50%);
        }
    } 
    .comment-content{
        .comment-title{
            position: relative;
            font-size: 15px;
            line-height: 26px;
            font-weight: 500;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            a{
                color: inherit;
                &:hover{
                    color: $link_color_hover;
                }
            }
        }
        .comment-date{
            font-size: 13px;
            line-height: 25px;
            letter-spacing: 0.01em;
            color: $body_color;
        }
        .comment-meta{
            font-size: 12px;
            color: #333;
        }
    }
    .comment-text{
        margin-top: 18px;
        p {
            &:before {
                content: '" ';
            }
            &:after {
                content: ' "';
            }
        }
    }
    .children{
        list-style: none;
        padding: 0 0 0 70px;
        margin: 0;
        [dir="rtl"] &{
            padding: 0 70px 0 0;
        }
        @media (max-width: $xl_max){
            padding: 0 0 0 35px;
            [dir="rtl"] &{
                padding: 0 35px 0 0;
            }
        }
        @media (max-width: $xs_max){
            padding: 0 0 0 15px;
            [dir="rtl"] &{
                padding: 0 15px 0 0;
            }
        }
    }
    .comment-reply-link{
        font-size: 13px;
        color: $primary_color;
        background-color: $secondary_color;
        padding: 8px 15px 8px 16px;
        letter-spacing: 0.05em;
        position: relative;
        overflow: hidden;
        &:before{
            content: '\f193';
            display: inline-block;
            font-family: 'Material-Design-Iconic-Font';
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin-right: 8px;

        }
        &:hover {
            color: $primary_color;
            &:before{
                animation: toLeftFromRight 0.3s forwards;
            }
        }
    }
}

.yhsshu-content-main.layout-2 .commentlist {
    .comment-content {
        .comment-title {
            font-family: $heading_font_family;
            font-size: 17px;
        }
        .comment-reply-link {
            background-color: $primary_color;
            color: #fff;
            letter-spacing: 0;
            &:hover {
                background-size: 0;
            }
        }
    }
}

.yhsshu-content-main.layout-3 .commentlist {
    .comment-avatar {
        img {
            border-color: $secondary_color;
        }
    }
    .comment-content {
        .comment-title {
            font-family: $heading_font_family;
            font-weight: 600;
        }
        .comment-date {
            font-weight: 500;
            letter-spacing: 0;
        }
    }
    .comment-reply-link {
        background-color: $primary_color;
        color: #fff;
        letter-spacing: 0;
        @include border-radius(5px);
    }
}

.yhsshu-content-main.layout-4 .commentlist {
    .comment-content {
        .comment-title {
            font-size: 17px;
            font-weight: 700;
        }
        .comment-reply-link {
            font-weight: 500;
            letter-spacing: 0;
            background-color: $heading_color;
            color: $secondary_color;
        }
    }
}

.yhsshu-content-main.layout-5 .commentlist {
    .comment-content {
        .comment-title {
            font-family: $heading_font_family;
            font-size: 17px;
            font-weight: 500;
        }
        .comment-reply-link {
            font-weight: 500;
            letter-spacing: 0;
            background-color: $heading_color;
            color: #fff;
            @include border-radius(5px);
        }
    }
}

.comments-pagination{
    margin-top: 24px;
}

.comment-respond {
    margin-top: 37px;
    .comment-form{
        > label{
            margin-bottom: 8px;
        }
        .comment-form-field{
            margin-top: 24px;
        }
        .yhsshu-comment-form-fields-wrap {
            --bs-gutter-x: 24px;
        }
        .yhsshu-comment-form-rating .comment-form-field{
            margin-top: 0;
            color: $heading_color;
        }
        input[type=checkbox] {
            display: none;
        }

        input[type=checkbox] + label:before {
            content: "\e915";
            font-family: $yhsshui_font;
            border: 1px solid $border-color;
            border-radius: 0;
            background-color: #fff;
            display: inline-block;
            width: 14px;
            height: 14px;
            margin-right: 10px;
            vertical-align: bottom;
            color: transparent;
            transition: .2s;
            position: relative;
            top: -4px;
            font-size: 8px;
            text-align: center;
            line-height: 12px;
        }

        input[type=checkbox] + label:active:before {
            transform: scale(0);
        }

        input[type=checkbox]:checked + label:before {
            background-color: $primary_color;
            color: #fff;
        }

        input[type=checkbox]:disabled + label:before {
          transform: scale(1);
          border-color: #aaa;
        }
        .comment-form-comment{
            textarea{
                height: 230px;
            }
        }
    }

    .comment-form-cookies-consent{
        padding-top: 15px;
        display: none;
        flex-wrap: wrap;
        margin-bottom: 22px;
        .cms-custom-checkbox{
            flex: 0 0 auto;
            margin-top: 1px;
        }
        label{
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
            margin: 0;
            line-height: normal;
        }
    }
    .form-submit {
        position: relative;
        z-index: 1;
        text-align: center;
        margin: 35px 0 0;
        overflow: visible !important;
    }
}
.logged-in-as{
    margin-bottom: 10px;
    color: $heading_color;
}
#cancel-comment-reply-link{
    padding-left: 30px;
    color: $heading_color;
    font-weight: 500;
    font-size: 17px;
    [dir="rtl"] & {
        padding-left: 0;
        padding-right: 30px;
    }
}
 
p.no-comments{
    margin-top: 30px;
    color: red;
}
 
$star_icon_font: "yhsshui";
$star_icon: "\e948";
$star_icon_filled: "\e949";
$star_icon_color: #FFB237;
$star_icon_filled_color: #FFB237;
 
.rating-container {
    display: inline-block;
    height: 18px;
    vertical-align: top;
    font-size: 0;
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating-container * {
    font-size: 17px;
}

.rating-container > input {
    display: none;
}

.rating-container > input + label {
    font-family: $star_icon_font;
    line-height: 1;
}

.rating-container > input + label:before {
    display: inline-block;
    content: $star_icon;
    color: $star_icon_color;
}

.rating-container > input:checked ~ label:before,
.rating-container > input + label:hover ~ label:before,
.rating-container > input + label:hover:before,
.yhsshu-rating-icon-filled:before {
    content: $star_icon_filled;
    color: $star_icon_filled_color;
}
.rating-container > .star-cb-clear + label {
}
.rating-container > .star-cb-clear + label:before {
}

.rating-container:hover > input + label:before,
.yhsshu-rating-icon-empty:before{
    content: $star_icon;
    color: $star_icon_color;
    text-shadow: none;
}

.rating-container:hover > input + label:hover ~ label:before,
.rating-container:hover > input + label:hover:before {
    content: $star_icon_filled;
    color: $star_icon_filled_color;
}
 

.yhsshu-rating-icon-filled,
.yhsshu-rating-icon-empty{
    font-family: $star_icon_font;
    display: inline-block;
    overflow: hidden;
    width: 1em;
    white-space: nowrap;
    cursor: pointer;
    margin: 0;
}
.yhsshu-rating-icon-empty{
    z-index: -1;
}

 