.elementor-section {
    .elementor-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    &.yhsshu-section-static-pos-yes{
        .elementor-container{
            position: static;
        }
        .elementor-column, 
        .elementor-column-wrap{
            position: static;
        }
        .elementor-widget-wrap{
            position: static;
        }
    }
    &.yhsshu-section-overflow-hidden-yes{
        overflow: hidden !important;
    }
}

.elementor-editor-active{
    .yhsshu-header-sticky{
        display: none;
    }
    .yhsshu-header-transparent, #yhsshu-footer{
        position: relative !important;
    }
    #yhsshu-main{
        margin: 0 !important;
    }
}

.elementor-lightbox .swiper-zoom-container > canvas,
.elementor-lightbox .swiper-zoom-container > img,
.elementor-lightbox .swiper-zoom-container > svg {
    object-fit: cover;
    -o-object-fit: cover;
}

.elementor-column-gap-default >.elementor-column>.elementor-element-populated{
    padding: 0 15px;
}
.elementor-column-gap-extended>.elementor-column>.elementor-element-populated{
	padding: 0 15px;
}
.elementor-column-gap-default>.elementor-column>.elementor-element-populated

.yhsshu-single-post .single-elementor-content > .elementor{
	margin: 0 -15px;
}
.yhsshu-single-post .elementor-inner-section > .elementor-column-gap-default{
	margin: 0 -15px;
}
.elementor-section-boxed .elementor-inner-section > .elementor-column-gap-default{
    margin: 0 -15px;
}

.yhsshu-entry-content {
    .fadeInUp.animated {
        @include animation(yhsshuFadeInUp 1s linear);
        @include transition(all 1s linear);
        &.animated-slow{
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
        }
        &.animated-fast{
            -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
        }
    }

    .fadeInDown.animated {
        @include animation(yhsshuFadeInDown 1s linear);
        @include transition(all 1s linear);
        &.animated-slow{
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
        }
        &.animated-fast{
            -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
        }
    }
    .fadeInLeft.animated {
        @include animation(yhsshuFadeInLeft 1s linear);
        @include transition(all 1s linear);
        &.animated-slow{
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
        }
        &.animated-fast{
            -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
        }
    }
    .fadeInRight.animated {
        @include animation(yhsshuFadeInRight 1s linear);
        @include transition(all 1s linear);
        &.animated-slow{
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
        }
        &.animated-fast{
            -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
        }
    }
}

//* Icon list
.elementor-widget-icon-list .elementor-icon-list-item{
    .elementor-icon-list-icon{
        flex: none;
    }
    @media (max-width: $xs_max) {
        align-items: flex-start !important;
        .elementor-icon-list-icon{
            margin-top: 0.3em;
        }
    }
}

//* Image Box
.elementor-image-box-wrapper{
    .elementor-image-box-img{
        flex: none !important;
        @media (max-width: 575px){
            margin-bottom: 15px !important;
        }
    }
}

.yhsshu-section-offset-left{
    @media (min-width: $xl_min) {
        &.yhsshu-container-width-container-1200{
            padding-left: calc( (100% - 1170px)/2) !important;
        }
    }
    @media (min-width: 1570px) {
        &.yhsshu-container-width-container-1570{
            padding-left: calc( (100% - 1540px)/2) !important;
        }
    }
}
.yhsshu-section-offset-right{
    @media (min-width: $xl_min) {
        &.yhsshu-container-width-container-1200{
            padding-right: calc( (100% - 1170px)/2) !important;
        }
    }
    @media (min-width: 1570px) {
        &.yhsshu-container-width-container-1570{
            padding-right: calc( (100% - 1540px)/2) !important;
        }
    }
}

.yhsshu-shape-divider-pos-top .yhsshu-shape-divider{
    top: -1px;
} 
.yhsshu-shape-divider-mask{
    .yhsshu-shape-divider{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        left: 0;
        line-height: 0;
        direction: ltr;
        mask-image: var(--ss-mask-url);
        -webkit-mask-image: var(--ss-mask-url);
        -ms-mask-image: var(--ss-mask-url);
        -o-mask-image: var(--ss-mask-url);
        -webkit-mask-repeat: no-repeat;
        -ms-mask-repeat: no-repeat;
        -o-mask-repeat: no-repeat;
        background-color: #fff;
    }
    &.yhsshu-shape-divider-pos-top{
        .yhsshu-shape-divider{
            -webkit-mask-position: center top;
            -ms-mask-position: center top;
            -o-mask-position: center top;
            mask-position: center top;
        }
    }
    &.yhsshu-shape-divider-pos-bottom{
        .yhsshu-shape-divider{
            -webkit-mask-position: center bottom;
            -ms-mask-position: center bottom;
            -o-mask-position: center bottom;
            mask-position: center bottom;
        }
    }
}
.elementor-widget-wrap{
    transition: all 100ms linear 0s;
}

.elementor-widget-image-carousel .elementor-image-carousel-wrapper {
    overflow-x: hidden;
}

.elementor-editor-active .yhsshu-border-animated .yhsshu-border-anm.bb{
    transform: scale(1);
}

// Icon Border
.elementor-icon-border-1px {
    .elementor-icon {
        border: 1px solid $divider_color;
    }
}

.elementor-shortcode .woocommerce-message {
    @include d-flex();
    justify-content: space-between;
}