a, button{
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -khtml-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}
body.toplevel_page_yhsshu,.yhsshu_page_yhsshu-plugins,.yhsshu_page_yhsshu-import-demos{
    background-color:#f8f9fa
}
.wp-has-submenu.toplevel_page_yhsshu .wp-menu-image img {
    width: 16px;
    height: auto;
}
.yhsshu-dashboard-wrap{
    padding:0 4%;
    font-family:Roboto,"Helvetica Neue",sans-serif;
    font-size:15px;
    line-height:1.8em;
    color:#797979
}
.yhsshu-dashboard-wrap .notice-error, .yhsshu-dashboard-wrap div.error{
    text-align: left;
    padding: 20px 30px 20px 30px;
    margin: 0;
    border-right: none;
    border-radius: 0 10px 10px 0;
    border-top: none;
    border-bottom: none;
}
.yhsshu-dashboard-wrap .notice-error, .yhsshu-dashboard-wrap div.error p {
    margin: 0;
}
.yhsshu-dashboard-wrap .notice-error, .yhsshu-dashboard-wrap div.error .plugin-not-active {
    margin: 0;
}
.yhsshu-dashboard-wrap *,.yhsshu-dashboard-wrap:before,.yhsshu-dashboard-wrap *:after{
    box-sizing:border-box
}
.yhsshu-dashboard-wrap h1,.yhsshu-dashboard-wrap h2,.yhsshu-dashboard-wrap h3,.yhsshu-dashboard-wrap h4,.yhsshu-dashboard-wrap h5,.yhsshu-dashboard-wrap h6{
    margin:0 0 .5em;
    font-family:Roboto,"Helvetica Neue",sans-serif;
    line-height:1.25em;
    color:#1f1f1f
}
.yhsshu-dashboard-wrap a:focus{
    box-shadow: none;
}
.yhsshu-dashboard-wrap h1{
    font-size:50px
}
.yhsshu-dashboard-wrap .yhsshu-dsb-logo h2{
    font-size: 30px;
    margin-bottom: 0;
    line-height: 1;
}
.yhsshu-dashboard-wrap h2{
    font-size:44px;
}
.yhsshu-dashboard-wrap h3{
    font-size:36px
}
.yhsshu-dashboard-wrap h4{
    font-size:25px
}
.yhsshu-dashboard-wrap h5{
    font-size:22px
}
.yhsshu-dashboard-wrap h6{
    font-size:18px
}
.yhsshu-dashboard-wrap p{
    margin:0 0 1.5em
}
.yhsshu-dashboard-wrap .wp-die-message,
.yhsshu-dashboard-wrap p{
    font-size: 14px;
}

.yhsshu-dashboard-wrap a{
    color:#1f1f1f
}
.yhsshu-dashboard-wrap figure{
    margin:0
}
.yhsshu-dashboard-wrap img{
    max-width:100%
}
.yhsshu-dashboard-wrap .hidden{
    display:none !important
}
 
.yhsshu-dashboard-wrap .yhsshu-dsb-title-heading{
    margin-bottom: 30px;
    padding: 20px 30px;
    background-color: #2cafe0;
    color: #fff;
    font-size: 22px;
    border-radius: 10px 10px 0 0;
}
@media(max-width: 1400px) {
    .yhsshu-dashboard-wrap .yhsshu-dsb-title-heading{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px;
    }
}
.yhsshu-dashboard-wrap .yhsshu-iconbox{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
    padding: 0 30px;
}
@media(max-width: 1400px) {
    .yhsshu-dashboard-wrap .yhsshu-iconbox{
        padding: 0 20px;
    }
}
.yhsshu-dashboard-wrap .yhsshu-icon-container{
    padding-top: 2px;
    flex: 0 0 20px;
    max-width: 20px;
}
.yhsshu-dashboard-wrap .yhsshu-iconbox-contents{
    flex: 0 0 calc( 100% - 20px);
    max-width: calc( 100% - 20px);
    padding-left: 20px;
}

.yhsshu-row{
    display:flex;
    flex-flow:row wrap;
    margin-left:-15px;
    margin-right:-15px;
    align-items:stretch
}
.yhsshu-col{
    display:flex;
    flex-direction:column;
    padding-left:15px;
    padding-right:15px
}
.yhsshu-col.wpbakery{
    display: none;
}
.yhsshu-col-12{
    width:100%
}
.yhsshu-col-11{
    width:91.66666667%
}
.yhsshu-col-10{
    width:83.33333333%
}
.yhsshu-col-9{
    width:75%
}
.yhsshu-col-8{
    width:66.66666667%
}
.yhsshu-col-7{
    width:58.33333333%
}
.yhsshu-col-6{
    width:50%
}
.yhsshu-col-5{
    width:41.66666667%
}
.yhsshu-col-4{
    width:33.33333333%
}
.yhsshu-col-3{
    width:25%
}
.yhsshu-col-2{
    width:16.66666667%
}
.yhsshu-col-1{
    width:8.33333333%
}
@media(max-width: 1199px){
    .yhsshu-col{
        width:100%
    }
}
@media(max-width: 1400px) {
    .yhsshu-solid-wrap > .yhsshu-row > .yhsshu-col {
        width: 33.33%
    }
}
.yhsshu-dashboard-wrap .yhsshu-btn{
    display:inline-block;
    min-width:133px;
    padding:8px 25px;
    border-radius:3px;
    position:relative;
    font-size:14px;
    font-weight:500;
    text-decoration:none;
    background-color:#fff;
    color:#1f1f1f;
    transition-property:all .3s
}
.yhsshu-dashboard-wrap .yhsshu-btn span{
    position:relative;
    z-index:2
}
.yhsshu-dashboard-wrap .yhsshu-btn+.yhsshu-btn{
    margin-top:15px
}
.yhsshu-dashboard-wrap .yhsshu-btn:hover{
    background-color:#2cafe0;
    color:#fff;
    box-shadow:0 7px 18px rgba(0,0,0,.16)
}
.yhsshu-dashboard-wrap .yhsshu-btn-gradient:before{
    content:"";
    display:inline-block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:0;
    opacity:0;
    border-radius:inherit;
    background:linear-gradient(to right, #425FFF 0%, #FF6B82 100%);
    transition:opacity .3s
}
.yhsshu-dashboard-wrap .yhsshu-btn-gradient:hover{
    color:#fff
}
.yhsshu-dashboard-wrap .yhsshu-btn-gradient:hover:before{
    opacity:1
}
.yhsshu-dashboard-wrap .yhsshu-btn-bordered{
    padding-left:30px;
    padding-right:30px;
    border:1px solid #e3e3e3;
    border-radius:2px;
    font-size:14px;
    font-weight:600;
    color:#1f1f1f
}
.yhsshu-dashboard-wrap .yhsshu-btn-bordered:hover{
    border-color:#1f1f1f;
    background-color:#1f1f1f;
    color:#fff
}
.yhsshu-dsb-menubar {
    margin-top: 30px;
    margin-bottom: 50px;
}
.yhsshu-dsb-menubar .yhsshu-dsb-logo {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.yhsshu-dsb-menubar .yhsshu-dsb-logo-inner {
    margin-right: 20px;
}
.yhsshu-dsb-menubar .yhsshu-dsb-logo img {
    height: auto;
    max-width: 50px;
}
.yhsshu-dsb-menubar .yhsshu-dsb-logo .yhsshu-v{
    display:inline-block;
    margin-top:15px;
    line-height:1;
    color:rgba(0,0,0,.7)
}
.yhsshu-dsb-menu{
    display:flex;
    padding:18px 24px;
    border-radius:3px;
    margin:30px 0 0;
    position:relative;
    background-color:#2cafe0;
    box-shadow: 0 20px 50px rgba(0,0,0, 0.1);
    align-items:center;
    flex-flow:row wrap;
    flex:1 auto;
    list-style:none;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
}
.yhsshu-dsb-menu ul{
    display: flex;
    flex-wrap: wrap;
}
.yhsshu-dsb-menu li{
    margin:0
}
.yhsshu-dsb-menu li + li {
    margin-left: 10px
}

.yhsshu-dsb-menu li.is-active a {
    background-color:#1f1f1f;
    color:#fff
}
.yhsshu-dsb-menu a {
    display: inline-flex;
    padding: 0 14px;
    border-radius: 4px;
    background-color: #fff;
    color: #1f1f1f;
    text-decoration: none;
    align-items: center;
    line-height: 36px;
}
.yhsshu-dsb-menu a i{
    font-size:22px;
    margin-right:8px
}
.yhsshu-dsb-menu a:hover{
    background-color: #1f1f1f;
    color:#fff
}
@media(max-width: 991px){
    .yhsshu-dsb-menu{
        flex-direction:column;
        align-items:flex-start
    }
    .yhsshu-dsb-menu li{
        margin-bottom:4px;
        margin-left:0 !important
    }
    .yhsshu-dsb-menu li:last-child{
        margin-bottom:0
    }
}
.yhsshu-dsb-header{
    margin-bottom:50px
}
.yhsshu-dsb-header h2{
    margin-bottom: 15px;
}
@media(min-width: 1200px){
    .yhsshu-dsb-header-inner{
        width:30%
    }
}
.yhsshu-dsb-box{
    padding: 0;
    margin-bottom:30px;
    border-radius:3px;
    background-color:#fff;
    box-shadow:0 20px 30px rgba(30,30,30,.05);
    position:relative;
    flex:1 auto
}
.yhsshu-dashboard-wrap .yhsshu-dsb-box-head-inner{
    display: none;
}
.merlin__content .activation-box p{
    text-align: center;
}
.activation-box .yhsshu-dsb-box-foot{
    text-align: center;
}
.yhsshu-dsb-box h4{
    margin-bottom:1em
}
 
.yhsshu-dsb-box iframe{
    width:100%
}
.yhsshu-dsb-box-solid{
    background-color:#fff
}
.yhsshu-dsb-features-box h4{
    margin-bottom:1.3em
}
.yhsshu-dsb-register-box{

}
.yhsshu-dsb-register-box p{
    margin-bottom:0
}
 
.yhsshu-dsb-register-box .yhsshu-dsb-box-head{
    margin-bottom:1.5em;
    text-align: center;
}
.yhsshu-dsb-box-wrap .yhsshu-dsb-box-head{
    padding: 0 30px;
}
@media(max-width: 1400px) {
    .yhsshu-dsb-box-wrap .yhsshu-dsb-box-head{
        padding: 0 22px;
    }
}
.yhsshu-dsb-box-wrap .yhsshu-dsb-box-head .yhsshu-dsb-confirmation {
    color: #797979;
}
.yhsshu-dsb-box-wrap .yhsshu-dsb-box-head .yhsshu-dsb-confirmation h6 {
    color: #1f1f1f;
}
.yhsshu-dsb-box-wrap .yhsshu-dsb-box-head .yhsshu-dsb-confirmation a {
    color: #1f1f1f;
}
.yhsshu-dsb-box-wrap .yhsshu-dsb-box-head .yhsshu-dsb-confirmation a:hover {
    color: #2cafe0;
}
.yhsshu-dsb-register-box .yhsshu-dsb-box-foot{
    padding-top:0;
    padding-bottom:40px;
    text-align:center
}
.yhsshu-dsb-register-form{
    max-width: 570px;
    padding: 0 30px;
    margin: 50px auto;
}
.yhsshu-dsb-register-form input{
    width:100%;
    height:50px;
    padding:10px 30px;
    border-radius:5px;
    border:none !important;
    font-family:inherit;
    font-size:14px;
    box-shadow:0 0 0 transparent;
    transition:box-shadow .3s,transform .3s
}
.yhsshu-dsb-register-form input[type=email],.yhsshu-dsb-register-form input[type=text],.yhsshu-dsb-register-form input[type=submit]{
    border-radius:3em;
    text-align: center;
}
.yhsshu-dsb-register-form input[type=email],.yhsshu-dsb-register-form input[type=text]{
    height:55px;
    margin-bottom:20px;
    background-color:#f7f8f8
}
.yhsshu-dsb-register-form input[type=email]::placeholder,.yhsshu-dsb-register-form input[type=text]::placeholder{
    color:#1f1f1f
}
.yhsshu-dsb-register-form input[type=email]:focus,.yhsshu-dsb-register-form input[type=text]:focus{
    outline:none;
    box-shadow:0 10px 35px rgba(0,0,0,.05)
}
.yhsshu-dsb-register-form input[type=submit]{
    height:58px;
    background-color:#222;
    color:#fff;
    cursor:pointer
}
.yhsshu-dsb-register-form input[type=submit]:hover{
    box-shadow:0 10px 30px -2px rgba(0,0,0,.1);
    background-color:#2cafe0;
}
.yhsshu-dsb-confirmation{
    border-radius:inherit;
    color:#29bd78
}
.yhsshu-dsb-confirmation a,.yhsshu-dsb-confirmation h6{
    color:inherit
}
.yhsshu-dsb-confirmation h6{
    margin-bottom: 20px;
}
.merlin__content .yhsshu-dsb-confirmation{
    text-align: center;
}
.yhsshu-dsb-confirmation h6:before{
    content:"";
    display:inline-block;
    width:1em;
    height:1em;
    position:relative;
    top:4px;
    left: 0;
    margin-right: 20px;
    background-position:center;
    background-repeat:no-repeat
}
.yhsshu-dsb-confirmation p{
    opacity:.8;
    font-size: 14px;
}
.yhsshu-dsb-confirmation.success{
    background-color:#fff;
}
.yhsshu-dsb-confirmation.success h6:before{
    background-image:url(../img/check.png);
    background-size:20px
}
.yhsshu-dsb-confirmation.fail{
    background-color:#9b3636;
    padding: 20px 30px;
    text-align: center;
}
.yhsshu-dsb-confirmation.fail p{
    margin-bottom: 0;
}
.yhsshu-dsb-confirmation.fail h6{
    color: #fff;
    font-size: 18px;
    margin: 0 0 20px 0;
}
.yhsshu-dsb-confirmation.fail p{
    color: #fff;
    opacity: 0.9;
}
.yhsshu-dsb-confirmation.fail a{
    color: #fff;
}
.yhsshu-dsb-confirmation.fail h6:before{
    display: none;
    background-image:url(../img/check.png);
    background-size:20px
}

.yhsshu-iconbox{
    display:flex;
    flex-flow:row wrap;
    margin-bottom:.25em
}
 
.yhsshu-iconbox-contents h3{
    margin:0 0 .5em;
    font-family:Roboto,"Helvetica Neue",sans-serif;
    font-weight:600;
    font-size:17px
}
.yhsshu-iconbox-solid{
    margin-bottom:30px;
    padding:30px;
    background-color:#fff;
    border-radius:4px;
    box-shadow:0 10px 20px -10px rgba(0,0,0,.15);
    text-align:center;
    flex-grow:1
}
.yhsshu-iconbox-solid .yhsshu-icon-container{
    display:inline-flex;
    width:84px;
    height:84px;
    margin:0 0 25px;
    border-radius:50em;
    background:linear-gradient(to right, #425FFF 0%, #FF6B82 100%);
    align-items:center;
    justify-content:center;
    box-shadow:0 20px 40px rgba(163,50,184,.2)
}
.yhsshu-iconbox-solid h3{
    font-size:20px;
    font-weight:600;
    margin-bottom:17px
}
.yhsshu-iconbox-solid p{
    max-width:85%;
    margin:0 auto 30px
}
.yhsshu-msg{
    padding: 15px 30px;
    border-radius:3px
}
.yhsshu-msg p{
    margin:0 !important
}
.yhsshu-dsb-notice{
    background-color:#ebebeb;
    color: #797979
}
.yhsshu-dsb-notice span{
    color:#a33224
}
.yhsshu-dsb-demo-item{
    padding:0 3%;
    margin-bottom:30px;
    text-align:center
}
.yhsshu-dsb-demo-item figure{
    border-radius:4px;
    position:relative;
    overflow:hidden;
    margin-bottom:2.15em;
    box-shadow:0 20px 40px rgba(141,98,149,.25)
}
.yhsshu-dsb-demo-item img{
    width:100%;
    height:auto;
    margin:0
}
.yhsshu-dsb-demo-item .yhsshu-dsb-overlay{
    display:flex;
    width:100%;
    height:100%;
    align-items:center;
    justify-content:center;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    border-radius:4px;
    background-color:rgba(0,0,0,.35);
    transition-property:opacity .3s
}
.yhsshu-dsb-demo-item .ready-installed{
    color: #fff;
}
.yhsshu-dsb-demo-item h3{
    font-size:18px;
    font-weight:600;
    color:#2b2b2b
}
.yhsshu-dsb-demo-item .yhsshu-btn{
    padding-left:30px;
    padding-right:30px;
    border-radius:25px;
    color:#1f1f1f;
    opacity:0;
    transition:all .3s
}
.yhsshu-dsb-demo-item .yhsshu-btn+.yhsshu-btn{
    margin-top:0;
    margin-inline-start:10px
}
.yhsshu-dsb-demo-item .yhsshu-preview-btn{
    min-width:unset;
    width:45px;
    height:45px;
    position:absolute;
    bottom:5px;
    right:5px;
    padding:0;
    background:none;
    text-indent:-99999px;
    overflow:hidden;
    color:#fff
}
.yhsshu-dsb-demo-item .yhsshu-preview-btn:before{
    content:none
}
.yhsshu-dsb-demo-item .yhsshu-preview-btn .yhsshu-btn-icon{
    display:inline-flex;
    width:100%;
    height:100%;
    align-items:center;
    justify-content:center;
    position:absolute;
    top:0;
    left:0
}
.yhsshu-dsb-demo-item:hover .yhsshu-btn,.yhsshu-dsb-demo-item:hover .yhsshu-dsb-overlay{
    opacity:1
}
.yhsshu-dsb-plugin {
    margin-bottom: 40px;
    text-align: center;
    color: #4f4f4f;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(30,30,30,.05);
    padding: 40px 30px;
    min-height: 380px;
}
.yhsshu-dsb-plugin .yhsshu-dsb-plugin-icon{
    display:inline-flex;
    width:90px;
    height:90px;
    margin-bottom:1.75em;
    border-radius:22px;
    background-color:#fff;
    box-shadow: 0 10px 30px rgb(0 0 0 / 5%);
    flex-flow:row wrap;
    align-items:center;
    justify-content:center
}
.yhsshu-dsb-plugin .yhsshu-dsb-plugin-icon img{
    width:50%;
    height:auto
}
.yhsshu-dsb-plugin h3{
    margin-bottom:13px;
    font-size:18px;
    font-weight:600;
    color:#1f1f1f
}
.yhsshu-dsb-plugin .yhsshu-button{
    background-color: #2cafe0;
    color: #fff;
    border: none;
    line-height: 40px;
    border-radius: 5px;
    padding: 0 18px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 10px 24px rgba(44,175,224, 0.14);
    display: inline-block;
    text-decoration: none;
}
.yhsshu-dsb-plugin .yhsshu-button:hover,
.yhsshu-dsb-plugin .yhsshu-button:focus{
    box-shadow: none;
    background-color: #2cafe0;
    color: #fff;
}
.yhsshu-dsb-plugin .yhsshu-button i{
    margin-left:3px
}
.yhsshu-dsb-plugin-required p,.yhsshu-dsb-plugin-recomended p{
    display:inline-block;
    padding:0 10px;
    border-radius:50em
}
.yhsshu-dsb-plugin-required p{
    background-color:rgba(239,12,75,.1);
    color:#d9250f
}
.yhsshu-dsb-plugin-recomended p{
    background-color:#fefbde
}
.yhsshu-dsb-plugin-active h3 span{
    color: #2cafe0;
}
.yhsshu-dsb-plugin-active .yhsshu-button{
    background-color: #2cafe0;
    color: #fff;
}
.yhsshu-dsb-plugin-active .yhsshu-button:hover,
.yhsshu-dsb-plugin-active .yhsshu-button:focus{
    background-color: #1f1f1f;
    color: #fff;
}
.yhsshu-imp-popup-close{
    position:absolute;
    top:15px;
    right:25px;
    cursor:pointer;
    font-size:28px
    border-radius: 50%;
    background: rgba(22,37,66,0.07);
    border: 9px solid transparent;
    color: #162542;
    width: 36px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.yhsshu-imp-popup-close:before,
.yhsshu-imp-popup-close:after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background-color: #162542;
    transform-origin: 50% 50%;
    opacity: 1;
    transition: transform ease 0.25s;
    -webkit-transition: transform ease 0.25s;
    -khtml-transition: transform ease 0.25s;
    -moz-transition: transform ease 0.25s;
    -ms-transition: transform ease 0.25s;
    -o-transition: transform ease 0.25s;
}
.yhsshu-imp-popup-close:before{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.yhsshu-imp-popup-close:after{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -khtml-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
.yhsshu-imp-popup-close:hover:before,
.yhsshu-imp-popup-close:hover:after{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
.yhsshu-imp-popup-inner{
    display:block;
    width:840px;
    max-height:80vh;
    padding:45px 35px;
    position:relative;
    border-radius:11px;
    background-color:#fff;
    overflow-x:hidden;
    overflow-y:auto;
    box-shadow: 0 14px 22px rgb(0 0 0 / 9%);
}
.yhsshu-demo-loader{
    display:flex;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    opacity: 0;
    visibility:hidden;
    align-items:center;
    justify-content:center;
    background-color:rgba(255,255,255,.7);
    font-family:Roboto,"Helvetica Neue",sans-serif;
    font-size:15px;
    line-height:1.8em;
    color:#797979
}
.yhsshu-demo-loader.active{
    opacity: 1;
    visibility: visible;
}
.yhsshu-imp-popup-wrap{
    display:flex;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    opacity: 0;
    visibility:hidden;
    align-items:center;
    justify-content:center;
    background-color:rgba(255,255,255,.7);
    font-family:Roboto,"Helvetica Neue",sans-serif;
    font-size:15px;
    line-height:1.8em;
    color:#797979;
    text-align: left;
}
.yhsshu-imp-popup-wrap.active{
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

.yhsshu-demo-loader .yhsshu-imp-loader .loader{
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #2cafe0;;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.yhsshu-demo-loader .yhsshu-imp-loader .loader:before{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fbc000;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
.yhsshu-demo-loader .yhsshu-imp-loader .loader:after{
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
.yhsshu-demo-loader .yhsshu-imp-loader h4{
    margin-top: 25px;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.yhsshu-demo-error-confirm{
    display:flex;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    visibility:hidden;
    align-items:center;
    justify-content:center;
    background-color:rgba(255,255,255,.7);
    font-family:Roboto,"Helvetica Neue",sans-serif;
    font-size:15px;
    line-height:1.8em;
    color:#797979
}
.yhsshu-demo-error-confirm h4{
    margin-top: 0;
    color: #1f1f1f;
    font-size: 22px;
    margin-bottom: 10px;
}
.yhsshu-demo-error-confirm .message{
    margin-bottom: 30px;
    color: #1f1f1f;
}
.yhsshu-demo-error-confirm .confirm-inner{
    max-width: 470px;
    background: #fff;
    padding: 40px 30px;
    box-shadow:0 14px 22px rgba(0,0,0,.09);
    position: relative;
}
.yhsshu-demo-error-confirm .confirm-footer{
    text-align: right;
}.yhsshu-demo-error-confirm .err{
    color: #f26522;
}
.upload-demo-fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.yhsshu-demo-error-confirm .btn-upload{
    display:inline-flex;
    height:45px;
    padding:5px 25px;
    min-width: 122px;
    border:none;
    border-radius:3px;
    position:relative;
    font-size:14px;
    font-weight:500;
    color:#fff;
    background: #1f1f1f;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    transition:transform .3s,box-shadow .3s
}
.yhsshu-demo-error-confirm .btn-upload svg{
    width: 22px;
    height: 22px;
    fill: #fff;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -11px;
    margin-left: -11px;
    -webkit-animation: spin 1s infinite linear;
    -khtml-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -ms-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}
.yhsshu-demo-error-confirm .btn-upload:hover{
    background-color: #072010;
}
.yhsshu-demo-error-confirm  .btn-upload.loading .btn-text{
    opacity: 0;
    visibility: hidden;
}
.yhsshu-demo-error-confirm  .btn-upload.loading svg{
    opacity: 1;
    visibility: visible;
}
.yhsshu-demo-error-confirm .confirm-footer button.btn-default{
    font-size: 0;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    padding: 0; 
    border-radius: 50%;
    background: rgba(22, 37, 66, 0.07);
    border: 9px solid transparent;
    color: #162542;
    width: 36px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.yhsshu-demo-error-confirm .confirm-footer button.btn-default:before,
.yhsshu-demo-error-confirm .confirm-footer button.btn-default:after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background-color: #162542;
    transform-origin: 50% 50%;
    opacity: 1;
    transition: transform ease 0.25s;
    -webkit-transition: transform ease 0.25s;
    -khtml-transition: transform ease 0.25s;
    -moz-transition: transform ease 0.25s;
    -ms-transition: transform ease 0.25s;
    -o-transition: transform ease 0.25s;
}
.yhsshu-demo-error-confirm .confirm-footer button.btn-default:before{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.yhsshu-demo-error-confirm .confirm-footer button.btn-default:after{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -khtml-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
.yhsshu-demo-error-confirm .confirm-footer button.btn-default:hover:before,
.yhsshu-demo-error-confirm .confirm-footer button.btn-default:hover:after{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
.yhsshu-demo-error-confirm.is-active{
    visibility:visible;
    z-index:9999
}

.yhsshu-imp-popup-wrap *,.yhsshu-imp-popup-wrap *:before,.yhsshu-imp-popup-wrap *:after{
    box-sizing:border-box
}
.yhsshu-imp-popup-wrap h1,.yhsshu-imp-popup-wrap h2,.yhsshu-imp-popup-wrap h3,.yhsshu-imp-popup-wrap h4,.yhsshu-imp-popup-wrap h5,.yhsshu-imp-popup-wrap h6{
    margin:0 0 .5em;
    font-family:Roboto,"Helvetica Neue",sans-serif;
    line-height:1.25em;
    color:#1f1f1f
}
.yhsshu-imp-popup-wrap h1{
    font-size:50px
}
.yhsshu-imp-popup-wrap h2{
    font-size:44px
}
.yhsshu-imp-popup-wrap h3{
    font-size:36px
}
.yhsshu-imp-popup-wrap h4{
    font-size:25px
}
.yhsshu-imp-popup-wrap h5{
    font-size:22px
}
.yhsshu-imp-popup-wrap h6{
    font-size:18px
}
.yhsshu-imp-popup-wrap p{
    margin:0 0 1.75em
}
.yhsshu-imp-popup-wrap a{
    color:#116dea
}
.yhsshu-imp-popup-wrap figure{
    margin:0
}
.yhsshu-imp-popup-wrap img{
    max-width:100%
}
.yhsshu-imp-popup-wrap.is-active{
    visibility:visible;
    z-index:9999
}
.yhsshu-imp-popup-head{
    display:flex;
    flex-flow:row wrap;
    align-items:flex-start
}
.yhsshu-imp-popup-head figure,.yhsshu-imp-popup-head .yhsshu-imp-popup-content{
    margin-bottom:40px
}
.yhsshu-imp-popup-head figure{
    flex-basis:310px;
    margin-right:17px;
    box-shadow:0 14px 22px rgba(0,0,0,.09)
}
.yhsshu-imp-popup-head .yhsshu-imp-popup-content{
    flex:1 0;
    padding-left:17px
}
.yhsshu-imp-popup-head h6{
    margin-bottom:1.5em
}
.yhsshu-imp-skip-posts, .yhsshu-imp-crop{
    text-align: left;
}
.yhsshu-imp-opt{
    display:flex;
    padding:13px 16px;
    margin-bottom:17px;
    border-radius:3em;
    position:relative;
    flex-flow:row wrap;
    align-items:center;
    font-size:13px;
    font-weight:600;
    color:#1f1f1f
}
.yhsshu-imp-opt label{
    display:inline-block;
    width:33px;
    height:33px;
    position:relative;
    border-radius:2em;
    margin-right:13px;
    background-color:#2cafe0;
    opacity:.22
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -khtml-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}
.yhsshu-imp-opt label:before{
    content:"";
    display:inline-flex;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    align-items:center;
    justify-content:center;
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.227' height='1.148' viewBox='0 0 12.227 1.148'%3E%3Cpath id='check_-_material' data-name='check - material' d='M-6.117-5H6.109v1.148H-6.117Z' transform='translate(6.117 5)' fill='%23fff'/%3E%3C/svg%3E%0A");
    background-position:center;
    background-repeat:no-repeat
}
.yhsshu-imp-opt input{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    z-index:2;
    cursor:pointer
}
.yhsshu-imp-opt input:checked+label{
    opacity:1;
    background-color:#46b450;
}
.yhsshu-imp-opt input:checked+label:before{
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.64' height='11.18' viewBox='0 0 14.64 11.18'%3E%3Cpath id='check_-_material' data-name='check - material' d='M7.5-3.52l8.82-8.84,1.18,1.18-10,10L2.86-5.82,4.02-7Z' transform='translate(-2.86 12.36)' fill='%23fff'/%3E%3C/svg%3E%0A")
}
 
.yhsshu-imp-opt span{
    flex:1 1
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -khtml-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}
.yhsshu-imp-opt:hover label{
    background-color:#46b450;
}
.yhsshu-imp-opt:hover span{
    color:#46b450;
}
.yhsshu-import-btn{
    display:flex;
    height:60px;
    padding:8px 15px;
    border:none;
    border-radius:3em;
    margin-top:15px;
    background-color:#1f1f1f;
    position:relative;
    font-size:17px;
    font-weight:600;
    color:#fff;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}
.yhsshu-import-btn span{
    position:relative;
    z-index:2
}
.yhsshu-import-btn:hover{
    background-color:#2cafe0;
    color:#fff;
}
.yhsshu-import-btn:hover:before{
    opacity:1
}
.yhsshu-imp-progress{
    padding:40px 45px 45px;
    border-radius:11px;
    background:#fff
}
.yhsshu-imp-progress h6{
    margin-top:0;
    margin-bottom:.5em
}
.yhsshu-imp-progress h4{
    font-size:22px;
    font-weight:600;
    color:#278d45;
    margin-top: 20px;
}
.yhsshu-progressbar{
    width:660px;
    height:10px;
    background-color:#edeff1;
    position:relative;
    border-radius:50em;
    margin-top: 10px;
}
.yhsshu-progressbar-inner{
    position:absolute;
    top:0;
    left:0;
    width:0;
    height:100%;
    border-radius:inherit;
    background-color:#1f1f1f;
    box-shadow:0 10px 30px rgba(0,0,0,.2)
}
.yhsshu-progressbar-percentage{
    display:inline-flex;
    width:40px;
    height:26px;
    position:absolute;
    top:50%;
    right:0;
    margin-top:-13px;
    border-radius:50em;
    background-color:#1f1f1f;
    box-shadow:0 10px 30px rgba(0,0,0,.3);
    align-items:center;
    justify-content:center;
    font-size:11px;
    color:#fff
}
#yhsshu-progress{
    margin-bottom:1.5em
}
 
.yhsshu_page_yhsshu-changelog #wrap{
    background-color:#292d3f;
    font-family:Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-size:14px;
    color:#a5abd0;
    display:flex;
    padding:2em 10vw;
    margin-left:auto;
    margin-right:auto;
    flex-flow:row wrap;
    align-items:flex-start;
    margin-left:-20px
}
.yhsshu_page_yhsshu-changelog #wrap *,.yhsshu_page_yhsshu-changelog #wrap *:before,.yhsshu_page_yhsshu-changelog #wrap *:after{
    box-sizing:border-box
}
.yhsshu-timeline-header{
    max-width:1200px;
    padding:50px 2em;
    margin-left:auto;
    margin-right:auto
}
.yhsshu-timeline-wrap{
    width:70%
}
.yhsshu-timeline-wrap code{
    font-family:source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace
}
.yhsshu-timeline-wrap h1,.yhsshu-timeline-wrap .h1,.yhsshu-timeline-wrap h2,.yhsshu-timeline-wrap .h2,.yhsshu-timeline-wrap h3,.yhsshu-timeline-wrap .h3,.yhsshu-timeline-wrap h4,.yhsshu-timeline-wrap .h4,.yhsshu-timeline-wrap h5,.yhsshu-timeline-wrap .h5,.yhsshu-timeline-wrap h6,.yhsshu-timeline-wrap .h6{
    margin:1.25em 0 .75em;
    font-weight:500;
    line-height:1.2
}
.yhsshu-timeline-wrap h1,.yhsshu-timeline-wrap .h1{
    margin-top:0;
    font-size:52px
}
.yhsshu-timeline-wrap h2,.yhsshu-timeline-wrap .h2{
    font-size:40px
}
.yhsshu-timeline-wrap h3,.yhsshu-timeline-wrap .h3{
    font-size:32px
}
.yhsshu-timeline-wrap h4,.yhsshu-timeline-wrap .h4{
    font-size:25px
}
.yhsshu-timeline-wrap h5,.yhsshu-timeline-wrap .h5{
    font-size:21px
}
.yhsshu-timeline-wrap h6,.yhsshu-timeline-wrap .h6{
    font-size:18px
}
.yhsshu-timeline-wrap small,.yhsshu-timeline-wrap .font_small{
    font-size:.667em
}
.yhsshu-timeline-wrap p{
    margin-bottom:1.15em
}
.yhsshu-timeline-wrap a{
    transition:all .3s
}
.yhsshu-timeline-item{
    padding-left:50px;
    padding-top:2.5em;
    padding-bottom:2.5em;
    position:relative
}
.yhsshu-timeline-item:before{
    content:"";
    display:inline-block;
    width:3px;
    height:120%;
    position:absolute;
    top:-10%;
    left:0;
    background:#3f4253
}
.yhsshu-timeline-item:first-child{
    margin-top:0
}
.yhsshu-timeline-item:first-child:before{
    top:0;
    background:linear-gradient(to bottom, transparent 0, #3f4253 15%)
}
.yhsshu-timeline-item:last-child:before{
    background:linear-gradient(to bottom, #3f4253 0%, transparent 100%)
}
.yhsshu-timeline-content h2{
    margin:0 0 1em;
    font-size:26px;
    color:#cdd1e5
}
.yhsshu-timeline-content p{
    transition:color .4s ease;
    cursor:default
}
.yhsshu-timeline-content p:hover{
    color:#fff
}
.yhsshu-timeline-content p.fixed a{
    color:#d73d43
}
.yhsshu-timeline-content p.enhancement a{
    color:#2cafe0
}
.yhsshu-timeline-content p.update a{
    color:#ffa100
}
.yhsshu-timeline-content p.new a{
    color:#1abd74
}
.yhsshu-timeline-content a{
    font-weight:600;
    text-decoration:none;
    color:#1abd74
}
.yhsshu-timeline-content a:hover{
    color:#fff !important
}
.yhsshu-timeline-v{
    display:inline-block;
    padding:.45em 1.25em;
    position:absolute;
    top:3.2em;
    left:0;
    border-radius:3px;
    background-color:rgba(0,0,0,.65);
    font-size:12px;
    font-weight:700;
    color:#fff;
    transform:translateX(-50%)
}
.yhsshu-timeline-label{
    display:inline-block;
    min-width:115px;
    padding:.5em 1.5em;
    margin-right:1em;
    font-size:9px;
    font-weight:700;
    letter-spacing:.125em;
    color:#fff;
    text-transform:uppercase;
    border-radius:3px;
    text-align:center
}
.fixed .yhsshu-timeline-label{
    background-color:#d73d43
}
.enhancement .yhsshu-timeline-label{
    background-color:#2cafe0
}
.update .yhsshu-timeline-label{
    background-color:#ffa100
}
.new .yhsshu-timeline-label{
    background-color:#1abd74
}
.yhsshu-timeline-side-nav{
    width:30%;
    position:sticky;
    top:3em;
    padding:2em 30px 3em;
    border-radius:4px;
    background-color:#33374c;
    box-shadow:0 10px 30px rgba(0,0,0,.1)
}
.yhsshu-timeline-side-nav>h3{
    margin-top:0;
    margin-bottom:1em;
    font-size:26px;
    color:#eff0f6
}
.yhsshu-timeline-side-nav ul{
    margin:0;
    padding:0;
    list-style-type:disc;
    list-style-position:inside
}
.yhsshu-timeline-side-nav li{
    margin-bottom:1.5em;
    font-size:15px;
    font-weight:600
}
.yhsshu-timeline-side-nav li:last-child{
    margin-bottom:0
}
.yhsshu-timeline-side-nav a{
    color:#cdd1e5;
    text-decoration:none
}
.yhsshu-timeline-side-nav a:hover{
    color:#fff
}
.yhsshu-tab-nav{
    display:flex;
    justify-content:center;
    margin-bottom:2em;
    font-size:12px;
    line-height:1em;
    display: none;
}
.yhsshu-tab-nav ul{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#f5f5f5;
    border-radius:3em
}
.yhsshu-tab-nav li{
    display:inline-flex;
    line-height:1.5em;
    margin:3px 4px
}
.yhsshu-tab-nav a{
    display:inline-flex;
    padding:.75em 4em;
    border-radius:2em;
    text-decoration:none;
    color:#1f1f1f
}
.yhsshu-tab-nav a:focus{
    outline:none;
    box-shadow:none
}
.yhsshu-tab-nav a.active{
    background-color:#1f1f1f;
    font-weight:700;
    color:#fff
}
.yhsshu_page_yhsshu-import-demos .yhsshu-tab-nav ul{
    background-color:#f1f1f1
}
.merlin__body{
    flex-wrap:wrap;
    background-color:#f8f9fa;
    font-size:15px;
    font-weight:500;
    line-height:1.33em;
    font-family:Roboto,"Helvetica Neue",sans-serif;
    color:rgba(121,121,121,.6)
}
.merlin__body .lp-overlay{
    display: none;
}
.merlin__body h1,.merlin__body h2,.merlin__body h3,.merlin__body h4,.merlin__body h5,.merlin__body h6{
    color:#1f1f1f
}
.merlin__body a:focus{
    outline:none;
    box-shadow:none
}
.return-to-dashboard{
    color:rgba(0,0,0,.3)
}
.return-to-dashboard:hover{
    color:#1f1f1f
}
.merlin__content{
    width:840px;
    max-width:none;
    border-radius:11px;
    box-shadow:0 20px 50px rgba(0,0,0,.05);
    font-size:14px;
    font-weight:400;
    line-height:1.42em;
    color:#797979
}
.merlin__content--plugins .merlin__content--transition .merlin__button{
    margin-top: 20px;
}
.merlin__content h1{
    font-size:24px
}
.merlin__content--transition{
    width:65%;
    margin:35px auto
}
.merlin__content--transition>.icon:not(.icon--checkmark){
    width:170px;
    margin:0 auto
}
.merlin__content--transition hr{
    margin:25px 0
}
.js--finished .icon--checkmark {
    z-index: 9;
}
body.exiting .merlin__content--transition{
    transform:none;
    filter:none;
    opacity:1;
    transition:transform 500ms cubic-bezier(0.694, 0, 0.335, 1),opacity 500ms cubic-bezier(0.694, 0, 0.335, 1),filter 700ms cubic-bezier(0.694, 0, 0.335, 1)
}
.merlin__content--content .merlin-content-steps{
    margin-bottom:2em
}
.merlin__content--content>main{
    margin-top:2em
}
.merlin__content--content .yhsshu-dashboard-wrap .yhsshu-dsb-menubar,.merlin__content--content .yhsshu-dashboard-wrap .yhsshu-dsb-header{
    display:none
}
.merlin__content--welcome img{
    margin-top:1.5em
}
.merlin__content--content .nt-atpli{
    display: none;
}
.merlin__content__footer{
    display:flex;
    margin:0;
    padding:0 !important;
    align-items:center;
    justify-content:space-between
}
.merlin__content__footer:before,.merlin__content__footer:after{
    content:none
}
.merlin__builder-buttons{
    font-size:12px
}
.merlin__builder-buttons div{
    padding:3px 4px;
    border-radius:3em;
    background-color:#f5f5f5;
    color:#1f1f1f
}
.merlin__builder-buttons div>span{
    display:inline-block;
    padding:.75em 4em
}
.merlin__builder-buttons div>span.active{
    background-color:#1f1f1f;
    font-weight:700;
    color:#fff
}
.merlin__builder-buttons p{
    margin-bottom:1em;
    font-size:14px
}
@keyframes btn-loading{
    from{
        filter:blur(0)
    }
    to{
        filter:blur(4px)
    }
}
.merlin__button{
    padding:1em 2.15em;
    border-radius:2em;
    background-color:#dcdcde;
    font-size:15px;
    line-height:1em;
    color:#1f1f1f;
    transition:all .3s
}
.merlin__button:hover{
    animation:none;
    background-color:#2cafe0;
    color:#fff
}
.merlin__button:hover .chevron{
    color:inherit
}
.merlin__button:hover .chevron:before,.merlin__button:hover .chevron::after{
    background-color:currentColor
}
.merlin__button--next,.merlin__button--skip{
    position:relative;
    bottom:auto;
    left:auto;
    right:auto
}
.merlin__button--skip{
    text-decoration:underline;
    background-color:transparent !important
}
.merlin__button--skip:hover{
    color:#2cafe0;
}
.merlin__button--next{
    margin-inline-start:auto
}
.merlin__button--knockout{
    padding-right:4em
}
.merlin__button--knockout .chevron{
    right:2em
}
.merlin__button .merlin__body.exiting,.merlin__button--loading{
    animation:btn-loading 1s ease-out both alternate infinite !important;
    pointer-events:none
}
.merlin__button .merlin__body.exiting .merlin__button--loading__text,.merlin__button--loading .merlin__button--loading__text{
    filter:none;
    opacity:1
}
.merlin__content--license{
}
.merlin__content--license-key a {
    height: auto;
    position: relative;
    right: auto;
    top: auto;
    width: auto;
}
.merlin__content--license-key a::after{
    display: none;
}
.merlin__content--license .yhsshu-dsb-box-head-inner{
    padding-top:0
}
.merlin__content--license .yhsshu-dsb-box-head-inner h6{
    display:none
}
.merlin__content--license .yhsshu-dsb-box-foot{
    padding-bottom:0
}
.merlin__content--license-key a{
    color:#1f1f1f
}
.merlin__content--license-key .yhsshu-dsb-box{
    padding:0;
    margin:0;
    border-radius:0;
    box-shadow:none;
    background:none
}
.merlin__content--license-key .yhsshu-dsb-register-form{
    padding:0
}
.merlin-content-steps{
    display:flex;
    padding:20px 35px;
    margin:0 -33px;
    border-bottom:1px solid rgba(112,112,112,.13);
    font-size:15px;
    font-weight:500;
    color:rgba(24,25,30,.6)
}
.merlin-content-steps li{
    display:flex;
    flex:1 0 calc(100% / 4);
    align-items:center;
    position:relative;
    margin-bottom:0
}
.merlin-content-steps li:not(:last-child):after{
    content:"";
    display:inline-block;
    width:9px;
    height:9px;
    position:absolute;
    top:calc(50% - 4px);
    right:10px;
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4.811' height='8.121' viewBox='0 0 4.811 8.121'%3E%3Cpath id='Shape' d='M0,0,3,3,6,0' transform='translate(1.061 7.061) rotate(-90)' fill='none' stroke='%23687178' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5'/%3E%3C/svg%3E%0A");
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat
}
.merlin-content-steps li a{
    display:none
}
.merlin-content-steps li.active{
    color:#2cafe0
}
.merlin-content-steps li.active .step-num{
    background-color:#2cafe0;
    color:#fff
}
.merlin-content-steps .step-num{
    display:inline-flex;
    width:40px;
    height:40px;
    border-radius:20px;
    margin-inline-end:12px;
    align-items:center;
    justify-content:center;
    background-color:#dcdcde;
    color:#1f1f1f;
}
.merlin__drawer--install-plugins{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    font-size:15px;
    font-weight:600
}
.merlin__drawer--open .merlin__drawer--install-plugins{
    max-height: 40vh;
    overflow-y: auto;
}
.merlin__drawer--install-plugins li{
    width:42%;
    margin-bottom:1.2em
}
.merlin__drawer--install-plugins li:hover label{
    color: #2cafe0;
}
.merlin__drawer--install-plugins label{
    display:flex;
    align-items:center;
    padding: 10px 15px;
    color:#1f1f1f;
    transition:all .3s
}
.merlin__drawer--install-plugins label span{
    color:inherit !important
}
.merlin__drawer--install-plugins label i{
    display:inline-flex;
    order:-1;
    width:33px;
    height:33px;
    border-color:#1f1f1f;
    align-items:center;
    justify-content:center;
    margin:0 1em 0 0;
    background-color:#1f1f1f;
    opacity:.22
}

.merlin__drawer--install-plugins label i:before{
    background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.227' height='1.148' viewBox='0 0 12.227 1.148'%3E%3Cpath id='check_-_material' data-name='check - material' d='M-6.117-5H6.109v1.148H-6.117Z' transform='translate(6.117 5)' fill='%23fff'/%3E%3C/svg%3E%0A") !important
}
.merlin__drawer--install-plugins label i:after{
    opacity:0;
    background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.64' height='11.18' viewBox='0 0 14.64 11.18'%3E%3Cpath id='check_-_material' data-name='check - material' d='M7.5-3.52l8.82-8.84,1.18,1.18-10,10L2.86-5.82,4.02-7Z' transform='translate(-2.86 12.36)' fill='%23fff'/%3E%3C/svg%3E%0A") !important
}
.merlin__drawer--install-plugins label i:before,.merlin__drawer--install-plugins label i:after{
    width:100% !important;
    height:100% !important;
    top:0;
    left:0;
    background-position:center !important;
    background-size:15px !important;
    background-repeat:no-repeat !important;
    transform:none !important;
    transition:opacity .3s .1s
}
.merlin__drawer--install-plugins label:hover i{
    border-color: #2cafe0;
    background-color: #2cafe0;
}
.merlin__drawer--install-plugins .checkbox:checked+label i{
    opacity:1;
    border-color: #2cafe0;
    background-color: #2cafe0;
}
.merlin__drawer--install-plugins .checkbox:checked+label i:before{
    opacity:0
}
.merlin__drawer--install-plugins .checkbox:checked+label i:after{
    opacity:1
}
.merlin__content--content #yhsshu-demos .yhsshu-tab-nav{
    display:none !important
}
.merlin__content--content #yhsshu-demos .justify-content-center{
    justify-content: center;
}
.merlin__content--content #yhsshu-demos .yhsshu-row{
    padding:0 15px;
    margin:0 -10px
}
.merlin__content--content #yhsshu-demos .yhsshu-col{
    padding-left:10px;
    padding-right:10px
}
.merlin__content--content .yhsshu-dashboard-wrap{
    padding:0;
    margin-top: 20px;
}
.merlin__content--content .yhsshu-solid-wrap{
    max-height:50vh;
    overflow-y:auto;
    overflow-x:hidden
}
.merlin__content--content .yhsshu-dsb-demo-item{
    padding:0
}
.merlin__content--content .yhsshu-dsb-demo-item figure{
    box-shadow:0 14px 22px rgba(0,0,0,.1)
}
.merlin__body--ready .merlin__content__footer{
    font-size:16px;
    font-weight:400;
    flex-direction:column
}
.merlin__body--ready .merlin__content__footer:before{
    content:"";
    display:inline-block;
    width:127px;
    height:127px;
    border-radius:100px;
    box-shadow:0 33px 50px rgba(0,0,0,.08);
    margin:0 auto 35px;
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='54.35' height='41.505' viewBox='0 0 54.35 41.505'%3E%3Cpath id='Path' d='M17.226,32.818,49.97,0,54.35,4.381,17.226,41.505,0,24.279,4.306,19.9Z' fill='%235acc9c'/%3E%3C/svg%3E%0A");
    background-position:center;
    background-size:54px;
    background-repeat:no-repeat
}
.merlin__body--ready .merlin__content__footer .merlin__button{
    padding:0;
    background:none
}
.merlin__body--ready .merlin__content__footer .merlin__button--knockout{
    display:flex;
    align-items:center;
    margin-top:1.5em
}
.merlin__body--ready .merlin__content__footer .merlin__button .chevron{
    position:relative;
    top:auto;
    right:auto;
    width:20px;
    height:15px;
    margin-inline-start:5px
}
.merlin__body--ready .merlin__content__footer .merlin__button .chevron:before,.merlin__body--ready .merlin__content__footer .merlin__button .chevron:after{
    top:10px
}
.merlin__body--ready .merlin__content__footer .merlin__button:hover{
    color:#1f1f1f
}
.merlin__body--ready .merlin__content__footer .merlin__drawer{
    margin-top:1.5em
}
.merlin__body--ready .merlin__content__footer .merlin__drawer li{
    margin-bottom:1em
}
.merlin__body--ready .merlin__content__footer .merlin__drawer a{
    color:#1f1f1f;
    text-decoration:none
}
.merlin__body--ready .merlin__content__footer .merlin__drawer a:hover{
    text-decoration:underline
}
.merlin__body--ready.merlin__drawer--open .merlin__content__footer .merlin__button .chevron:before,.merlin__body--ready.merlin__drawer--open .merlin__content__footer .merlin__button .chevron:after{
    top:4px
}
.redux-container #redux-header {
    display: none !important;
}
/* Redux */
.redux-container .redux-main .field-desc {
    display: block;
}

/* Update Dashboard */
.yhsshu-dashboard-wrap .btn {
    background-color: #2cafe0;
    color: #fff;
    border: none;
    line-height: 40px;
    border-radius: 5px;
    padding: 0 18px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 10px 24px rgba(44,175,224, 0.14);
    display: inline-block;
    text-decoration: none;
}
.yhsshu-dashboard-wrap .btn:hover, .yhsshu-dashboard-wrap .btn:focus {
    background-color: #2cafe0 !important;
    color: #fff !important;
    box-shadow: 0 10px 24px rgba(44,175,224, 0.35);
}

.admin-plugin .yhsshu-dsb-header-inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
}
.yhsshu-dashboard-wrap .admin-plugin h4{
    display: inline-flex;
    flex: 0 0 auto;
    width: auto;
    margin: 0;
}
.yhsshu-install-all-plugin{
    display: inline-flex;
    flex: 0 0 auto;
    width: auto;
    padding: 0 30px;
    border-radius: 4px;
    text-decoration: none;
    align-items: center;
    line-height: 30px;
    background-color: #1f1f1f;
    color: #fff;
    margin-left: 20px;
    cursor: pointer;
    -webkit-transition: all 300ms linear 0s;
    -khtml-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -ms-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}
.yhsshu-install-all-plugin:hover{
    background-color: #2cafe0;
    border-color: #2cafe0;
    box-shadow: none;
}
.yhsshu-install-all-plugin.installing{
    cursor: wait;
    opacity: 0.2;
}
.yhsshu-dsb-plugin{
    position: relative;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.yhsshu-dsb-plugin:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 300ms linear 0s;
    -khtml-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -ms-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}
.yhsshu-dsb-plugin:after{
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -24px;
    background: url(../img/spinner.svg) no-repeat;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    -khtml-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-animation: spin 2s linear infinite;
    -khtml-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -ms-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    -webkit-transition: all 300ms linear 0s;
    -khtml-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -ms-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}
.yhsshu-dsb-plugin.installing:before{
    opacity: 1;
    visibility: visible;
}
.yhsshu-dsb-plugin.current:after{
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    
}
 