.yhsshu-header-mobile-sticky{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 99;
    @include transform(translateY(-100%));
    @include transition(transform .6s cubic-bezier(0.43, 0.46, 0.64, 0.66) !important);
    &.mh-fixed {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        @include transform(translateY(0%));
        @include box-shadow(0 3px 18px rgba(#02154e, 0.09));
    }
}

.yhsshu-header-mobile-main-sticky{
    z-index: 1;
    @include transition(.3s cubic-bezier(.3,.4,.5,1) !important);
    &.mh-fixed {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 99;
        @include box-shadow(0 3px 18px rgba(#02154e, 0.09));
        @include animation(0.95s linear 0s normal forwards 1 running headerSlideDown); 
    }
}

.yhsshu-header-mobile-transparent-sticky{
    z-index: 1;
    @include transition(.3s cubic-bezier(.3,.4,.5,1) !important);
    &.mh-fixed {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 99;
        @include box-shadow(0 3px 18px rgba(#02154e, 0.09));
        @include animation(0.95s linear 0s normal forwards 1 running headerSlideDown); 
    }
}

.yhsshu-header-mobile-fixed-top{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    box-sizing: border-box;
    z-index: 1000;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3 ease;
}

.logged-in{
    .yhsshu-header-mobile-sticky,
    .yhsshu-header-mobile-main-sticky,
    .yhsshu-header-mobile-transparent-sticky{
        &.mh-fixed{
            top: 32px;
            @media screen and (max-width: 782px) {
                top: 46px;
            }
            @media screen and (max-width: 600px) {
                top: 0;
            }
        }
    }
    .yhsshu-header-mobile-fixed-top{
        top: 32px;
        @media screen and (max-width: 782px) {
            top: 46px;
        }
    }
 
}

.main-menu-mobile {
    .btn-nav-mobile {
        display: inline-block;
        height: 21px;
        width: 22px;
        cursor: pointer;
        position: relative;
        vertical-align: middle;
        @include transition(all 300ms linear 0ms);
        &:before, &:after, span {
            @include transition(all 300ms linear 0ms);
            content: "";
            background-color: $additional01_color;
            display: block;
            height: 3px;
            left: 0;
            right: 0;
        }
        &:hover{
            &:before, &:after, span {
                background-color: $secondary_color;
            }
        }
        span {
            margin: 6px 0;
        }
        &.opened{
            &:before {
                top: 8px;
                @include transform(rotate(45deg));
            }
            &:after {
                @include transform(rotate(-45deg));
                top: 8px;
            }
            span{
                display: none;
            }
        }
    }
}
a.logo-mobile{
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    max-width: $logo_mobile_width;
}
.yhsshu-header-mobile {
    .menu-mobile-toggle-nav .yhsshu-icon {
        font-size: 30px;
        color: $heading_color;
        cursor: pointer;
        transition: color 0.3s linear;
        &:hover {
            color: $primary_color;
        }
    }
}
@media (max-width: $lg_max){
	.yhsshu-header-mobile,
    .header-mobile-type-df{
		.yhsshu-header-logo img{
			width: $logo_mobile_width;
		}
        .mobile-menu-toggle{
            .bars {
                line-height: 1;
                cursor: pointer;
                span{
                    width: 30px;
                    height: 3px;
                    background-color: $primary_color;
                    display: block;
                    @include transition();
                    &:nth-child(2){
                        margin: 7px 0;
                    }
                }
                &:hover{
                    span{
                        background-color: $secondary_color;
                    }
                }
            }
        }
	}
	.header-mobile-content{
		@include d-flex();
		align-items:center;
	}

	.yhsshu-header-mobile-transparent{
		.yhsshu-header-mobile .header-top-mobile{
			background-color: transparent;
		}
		.yhsshu-header-mobile:not(.mh-fixed) .header-main-mobile{
			background-color: transparent;
		}
		.yhsshu-header-mobile .header-main-mobile{
			@include box-shadow(none);
		}
	}
}


.yhsshu-anchor-icon.custom-7{
    display: flex;
    flex-direction: column;
    gap: 11px;
    span{
        width: 50px;
        height: 1px;
        background-color: #fff;
        display: inline-block;
        transition: all 350ms ease-in-out 0s;
        transform-origin: right;
        transform: scaleX(1);
        &:last-child{
            transform: scaleX(0.6);
        }
    }
    @media (max-width: $xs_max) {
        height: 20px;
        width: 25px;
        span{
            width: 25px;
        }
    }
    &:hover{
        span{
            &:first-child{
                transform: scaleX(0.6);
            }
            &:last-child{
                transform: scaleX(1);
            }
        }
    }
}