.pxl-img-select-item {
    float: left;
    margin: 10px 0;
    width: 32%;
    width: calc(33.33% - 20px);
    width: -webkit-calc(33.33% - 20px);
    width: -ms-calc(33.33% - 20px);
    width: -moz-calc(33.33% - 20px);
    padding: 0 10px;
}

.pxl-img-select {
    width: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.20);
    -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.20);
    transition: all 300ms linear 0ms;
    -webkit-transition: all 300ms linear 0ms;
    -ms-transition: all 300ms linear 0ms;
    cursor: pointer;
}

.pxl-img-select:hover, .pxl-img-select.selected {
    box-shadow: 0 0 16px rgba(4, 115, 170, 0.8);
    -webkit-box-shadow: 0 0 16px rgba(4, 115, 170, 0.8);
    -ms-box-shadow: 0 0 16px rgba(4, 115, 170, 0.8);
}
.redux-container{
    overflow: visible;
}
.redux-sidebar .redux-sidebar-head {
    border-bottom: 1px solid #e7e7e7;
    color: #999;
    padding: 13px 4px;
    text-align: center;
}

.redux-container .redux-group-tab .ui-checkboxradio-icon {
    display: none !important;
}

.redux-sidebar .redux-logo-main img {
    max-width: 70%;
}

.redux-sidebar-head .pxl-redux-logo {
    text-align: center;
}

.redux-sidebar-head .pxl-redux-logo img {
    max-width: 70%;
    width: 100%;
}

.redux-sidebar-head span {
    display: block;
    padding-top: 12px;
    text-align: center;
    font-weight: 700;
}

.redux-logo-text {
    color: #666;
    font-weight: 700;
    text-transform: uppercase;
}

.wpb_column_container .wpb_pxl_bootstrap_tabs {
    margin-top: 18px;
    background: #e6e6e6;
}

body .wpb_pxl_carousel.vc_shortcodes_container > .wpb_element_wrapper {
    padding: 20px;
    margin-top: 20px;
}

body .wpb_pxl_carousel > .vc_controls, body .wpb_pxl_carousel > .vc_layout-switcher {
    opacity: 1 !important;
    visibility: visible !important;
}

body .wpb_pxl_carousel .vc_controls > .vc_controls-out-tc {
    left: 50%;
    top: 1px !important;
    position: relative;
    max-width: fit-content;
}

body .wpb_pxl_carousel.vc_shortcodes_container > .wpb_element_wrapper > .vc_container_for_children {
    margin: 0 !important;
    outline: #e6e6e6 dotted 1px;
    min-height: 55px;
}
body .wpb_pxl_bootstrap_tabs.vc_shortcodes_container > .wpb_element_wrapper {
    padding: 20px;
    margin-top: 20px;
}

body .wpb_pxl_bootstrap_tabs > .vc_controls, body .wpb_pxl_bootstrap_tabs > .vc_layout-switcher {
    opacity: 1 !important;
    visibility: visible !important;
}

body .wpb_pxl_bootstrap_tabs .vc_controls > .vc_controls-out-tc {
    left: 50%;
    top: 1px !important;
    position: relative;
    max-width: fit-content;
}

body .wpb_pxl_bootstrap_tabs.vc_shortcodes_container > .wpb_element_wrapper > .vc_container_for_children {
    margin: 0 !important;
    outline: #e6e6e6 dotted 1px;
    min-height: 55px;
}
body .wpb_pxl_bootstrap_section.vc_shortcodes_container > .wpb_element_wrapper {
    padding: 20px;
    margin-top: 20px;
}

body .wpb_pxl_bootstrap_section > .vc_controls, body .wpb_pxl_bootstrap_section > .vc_layout-switcher {
    opacity: 1 !important;
    visibility: visible !important;
}

body .wpb_pxl_bootstrap_section .vc_controls > .vc_controls-out-tc {
    left: 50%;
    top: 1px !important;
    position: relative;
    max-width: fit-content;
}

body .wpb_pxl_bootstrap_section.vc_shortcodes_container > .wpb_element_wrapper > .vc_container_for_children {
    margin: 0 !important;
    outline: #e6e6e6 dotted 1px;
    min-height: 55px;
}
.pxl-param-holder {
    margin-top: 15px;
}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
}
.pxl-dashboard a {
    transition: all 300ms linear 0ms;
    -webkit-transition: all 300ms linear 0ms;
    -ms-transition: all 300ms linear 0ms;
    -o-transition: all 300ms linear 0ms;
}
.pxl-dashboard-inner {
    margin: 60px auto;
    max-width: 2000px;
    color: #9b9b9b;
}
.pxl-dashboard-item {
    box-sizing: border-box;
    float: left;
    padding: 0 20px;
    width: 50%;
}
.pxl-dashboard-item-inner {
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 60px;
    text-align: center;
    position: relative;
}
.pxl-dashboard-item-inner .dash-deactivate {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.pxl-dashboard-item i.dashicon {
    background-color: #00c1af;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
    color: #fff;
    display: block;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 80px;
    margin: auto;
}
.pxl-dashboard-item i.dashicon:before {
    line-height: inherit;
    font-size: 28px;
    height: inherit;
    width: inherit;
}
.pxl-dashboard-item h3 {
    margin: 25px 0 15px;
}
.pxl-dashboard-item a {
    background-color: #00c1af;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    color: #fff;
    display: inline-block;
    line-height: 50px;
    padding: 0 28px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
    border: none;
}
.pxl-dashboard-item a:hover,
.pxl-dashboard-item a:focus,
.pxl-dashboard-item a:active {
    background-color: #0bae9f;
    box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}
.pxl-dashboard-item a i:before {
    font-size: 15px;
    height: inherit;
    line-height: inherit;
    padding-left: 6px;
    width: inherit;
}
.pxl-dashboard-ticket {
    padding: 0 20px;
    margin-top: 50px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.pxl-dashboard-ticket a {
    border: 2px dashed #00c1af;
    display: block;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}
.pxl-dashboard-ticket a:hover,
.pxl-dashboard-ticket a:focus,
.pxl-dashboard-ticket a:active {
    color: #00c1af;
    box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}
@media screen and (max-width: 1400px) {
    .pxl-dashboard-item-inner {
        padding: 40px 20px;
    }
}
@media screen and (max-width: 1200px) {
    .pxl-dashboard-item-inner {
        padding: 30px 15px;
    }
    .pxl-dashboard-item a {
        padding: 0 16px;
    }
}
@media screen and (max-width: 991px) {
    .pxl-dashboard-item {
        width: 100%;
        margin-bottom: 30px;
    }
}